@use "_colors";

.product-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  & > h1 {
    font-weight: 600;
  }
}

.list-info-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.display-info {
  color: colors.$dark-blue-secondary;
}

.filter-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sort-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.product-card {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  text-transform: capitalize;
  font-size: 18px;
}

.cover-img {
  width: 100%;
  border-radius: 10px;
}

// Pagination

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 216px;
  gap: 8px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid colors.$grey;
  border-radius: 4px;
  opacity: 0.6;
}

.page.active {
  opacity: 1;
  border-color: colors.$red;
  color: colors.$red;
}
