.shop-container {
  position: relative;

  &.hidden {
    display: none;
  }
}

.shop-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 408px));
  justify-content: center;
  align-items: center;
  gap: 48px 24px;

  &.hidden {
    display: none;
  }
}
